

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tic Tac Toe</title>
    
</head>
<body>
    <nav>
        <ul>
            <li>
                TIC TAC TOE
            </li>
        </ul>
    </nav>
    <div class="matchContainer">
         <div class="container">
            <div class="grids bt-0 bl-0"> <span class="gridtext"></span></div> 
            <div class="grids bt-0"> <span class="gridtext"></span></div> 
            <div class="grids bt-0 br-0" > <span class="gridtext"></span></div> 
            <div class="grids bl-0"> <span class="gridtext"></span></div> 
            <div class="grids"> <span class="gridtext"></span></div> 
            <div class="grids br-0"> <span class="gridtext"></span></div> 
            <div class="grids bl-0 bb-0"> <span class="gridtext"></span></div> 
            <div class="grids bb-0"> <span class="gridtext"></span></div> 
            <div class="grids bb-0 br-0"> <span class="gridtext"></span></div>  
         </div>
         <div class="matchinfo">
            <h1>All The Best</h1>
        <div>
        	 <button id="restart">Restart</button>
            

        </div>
            <span class="details">Turn for X</span>
           
       </div>  
    </div>
    

</body>
</html>